<header class="header">
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="header-logo">
                    <a href="#">Endeavour
                        <!-- <img src="img/logo-dark.png" alt="Indico"> -->
                    </a>
                </div>
                <div class="header-menu-wrap">
                    <ul class="dl-menu">
                        <li class="dropdown_menu"><a href="#">Home<span></span></a>

                        </li>
                        <li class="dropdown_menu"><a href="#">About<span></span></a>

                        </li>
                        <li class="dropdown_menu"><a href="#">Services<span></span></a>

                        </li>
                        <li class="dropdown_menu"><a href="#">Pages<span></span></a>
                            <ul>
                                <li><a href="projects.html">Our Projects<span></span></a></li>
                                <li><a href="project-single.html">Project Single<span></span></a></li>
                                <li><a href="team.html">Our Team<span></span></a></li>
                                <li><a href="testimonial.html">Testimonial<span></span></a></li>
                                <li><a href="404.html">404 Error<span></span></a></li>
                            </ul>
                            <span class="dropdown-plus"></span>
                        </li>
                        <li class="dropdown_menu"><a href="#">Blog<span></span></a>
                            <ul>
                                <li><a href="blog-grid.html">Blog Grid<span></span></a></li>
                                <li><a href="blog-classic.html">Blog Classic<span></span></a></li>
                                <li><a href="blog-single.html">Blog Single<span></span></a></li>
                            </ul>
                            <span class="dropdown-plus"></span>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <a class="menu-btn" href="#">Book A Job</a>

                    <div class="mobile-menu-icon">
                        <div class="burger-menu">
                            <div class="line-menu line-half first-line"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu line-half last-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
