<div class="home-categories">
  <div class="container">
    <div class="section-header text-center">
      <h3 class="section-title">Choose by category</h3><span class="cate-line"></span>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/001-architecture.png" /><a href="product-listing.html">Mechanics</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/002-carpenter.png" /><a href="product-listing.html">carpenter</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/012-drill.png" /><a href="product-listing.html">drill</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/020-painting.png" /><a href="product-listing.html">painting</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/024-screwdriver.png" /><a href="product-listing.html">Eletrical</a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/019-package.png" /><a href="product-listing.html">Mover</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/dog-walking.png" /><a href="product-listing.html">Dog Walking</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/015-mechanic.png" /><a href="product-listing.html">Plumber</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/031-cleaning-staff.png" /><a href="product-listing.html">cleaning</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/001-architecture.png" /><a href="product-listing.html">kichech</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/026-wall.png" /><a href="product-listing.html">Babysitter</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
          <div class="categories-item" data-mh="category"><a class="ps-block__overlay" href="#"></a>
            <img src="../../assets/img/category/chef.png" /><a href="product-listing.html">chef</a>
          </div>
        </div>

      </div>
    </div>
    <div class="ps-section__footer text-center"><a class="ps-btn" href="#">View all categories</a></div>
  </div>
</div>